html {
    min-height: 100vh;
    font-size: calc(100vw / 151.2);
}

body {
    margin:0;
}

/* ヘッダー */
.header {
    background-color: #000;
    height: 8rem;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    height: 100%;
}

.header__inner--logo {
    width: 30%;
}

.header__inner--logo img{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: ease 0.2s opacity;
}

.header__inner--logo img:hover {
    opacity: 0.8;
}

.header__inner--search {
    width: 33%;
}

.search-input {
    width: 100%;
    height: 5rem;
    padding: 0px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 2.4em;
}

.header__inner--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.header__inner--menu a {
    transition: ease 0.2s opacity;
    cursor: pointer;
}

.header__inner--menu a:hover {
    opacity: 0.8;
}

.sell-link {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 2.4em;
    text-decoration: none;
    background-color: transparent;
}

.sell-button {
    background-color: #fff;
    color: #000;
    font-size: 2.4em;
    text-decoration: none;
    border-radius: 4px;
    padding: 3%;
}


/* メイン */
.main {
    background-color: #fff;
    text-align: center;
    width: 100vw;
}


/* 赤背景白文字のボタン */
.submit-button {
    display: block;
    width: 100%;
    height: 6rem;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #FF5555;
    color: #fff;
    font-size: 2.6em;
    font-weight: bold;
    transition: ease 0.2s opacity;
}

.submit-button:hover {
    opacity: 0.8;
}

button[disabled].submit-button,
a[disabled].submit-button {
    background-color: #d9d9d9;
    pointer-events: none;
}

/* エラーメッセージ */
p.form--error-message {
    font-size: 2em;
    color: #FF5555;
    text-align: left;
    margin: 5px 0px 0px 3px;
}

/* プロフィール画像のサムネイル */
.profile-thumbnail {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-position: center;
}

/* 白背景赤文字ボタン */
.edit-button {
    display: block;
    width: 100%;
    height: 6rem;
    border: 1px solid #FF5555;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    color: #FF5555;
    font-size: 2.6em;
    font-weight: bold;
    transition: ease 0.2s opacity;
}
.edit-button:hover {
    opacity: 0.8;
}