html {
    min-height: 100vh;
    font-size: calc(100vw / 151.2);
}

body {
    margin:0;
}

/* ヘッダー */
.header {
    background-color: #000;
    height: 8rem;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    height: 100%;
}

.header__inner--logo {
    width: 25%;
}

.header__inner--logo img{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: ease 0.2s opacity;
}

.header__inner--logo img:hover {
    opacity: 0.8;
}

.header__inner--search {
    width: 33%;
}

.search-input {
    width: 100%;
    height: 5rem;
    padding: 0px 1.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 2.4em;
}

.header__inner--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.header__inner--menu a {
    transition: ease 0.2s opacity;
    cursor: pointer;
}

.header__inner--menu a:hover {
    opacity: 0.8;
}

.header__link {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 2.4em;
    text-decoration: none;
    background-color: transparent;
}

.sell-button {
    background-color: #fff;
    color: #000;
    font-size: 2.4em;
    text-decoration: none;
    border-radius: 4px;
    padding: 3%;
}

.open-button,
.close-button {
    display: none;
}


/* メイン */
.main {
    background-color: #fff;
    text-align: center;
    width: 100vw;
}

/* エラーメッセージ */
.error,
.success {
    height: auto;
    padding: 2rem 10rem;
    vertical-align: middle;
    text-align: left;
    font-size: 2.4rem;
    font-weight: bolder;
}

.error {
    background-color: #FF5555;
    color: #fff;
}

.success {
    background-color: #c1f5bf;
    color: #5f5f5f;
}

.success li,
.error li {
    list-style: none;
}

/* 赤背景白文字のボタン */
.submit-button {
    display: block;
    width: 100%;
    height: 6rem;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #FF5555;
    color: #fff;
    font-size: 2.6em;
    font-weight: bold;
    transition: ease 0.2s opacity;
}

.submit-button:hover {
    opacity: 0.8;
}

button[disabled].submit-button,
a[disabled].submit-button {
    background-color: #d9d9d9;
    pointer-events: none;
}

/* フォームのエラーメッセージ */
p.form--error-message {
    font-size: 2em;
    color: #FF5555;
    text-align: left;
    margin: 0.5rem 0px 0px 0.3rem;
}

/* プロフィール画像のサムネイル */
.profile-thumbnail {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-position: center;
}

/* 白背景赤文字ボタン */
.edit-button {
    display: block;
    width: 100%;
    height: 6rem;
    border: 1px solid #FF5555;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    color: #FF5555;
    font-size: 2.6em;
    font-weight: bold;
    transition: ease 0.2s opacity;
}
.edit-button:hover {
    opacity: 0.8;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    html {
    font-size: calc(100vw / 90);
    }
    .header__inner--search {
        width: 40%;
    }
    .header__inner--menu {
        display: none;
    }
    .open-button,
    .close-button {
        display: block;
    }
    .close-button {
        position: relative;
        z-index: 2;
    }
    .menu-button,
    button.menu__link {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
    }
    .menu__content {
        top:0;
        left: 0;
        width: 100vw;
        height: 100%;
        position: fixed;
        background-color: #fff;
        align-items: center;
        z-index: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
    .menu__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 30%;
        width: 100%;
    }
    .menu__link {
        display: inline-block;
        width: 100%;
        font-size: 3.6rem;
        line-height: 2em;
        text-decoration: none;
        font-weight: bold;
        color: #5f5f5f;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .1);
        transition: ease 0.4s opacity;
    }

    .menu__link:hover {
        color: #FF5555;
        opacity: 0.8;
    }

    .profile-thumbnail {
        width: 25%;
        height: auto;
    }
}

@media (max-width: 375px) {
    html {
        font-size: calc(100vw / 50);
    }
    .header__inner--logo {
        width: 45%;
    }
    .profile-thumbnail {
        width: 40%;
        height: auto;
    }
    .search-input {
        font-size: 1.5em;
    }
}