.main__tab-wrapper {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

/* タブ */
.main__tab-labels {
    display: flex;
    align-items: flex-end;
    height: 65px;
    padding-left: 130px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5F5F5F;
}

.main__tab-label {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 2.4em;
    color: #5F5F5F;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.2s opacity;
}

.main__tab-label:hover {
    opacity: 0.5;
}

.main__tab-content {
    background: #fff;
}

.tab-content__panel {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

#tab-recommend:checked~.main__tab-labels .tab-label--recommend {
    color: #FF0000;
}

#tab-recommend:checked~.main__tab-content #tab-panel--recommend {
    display: block;
}

#tab-mylist:checked~.main__tab-labels .tab-label--mylist {
    color: #FF0000;
}

#tab-mylist:checked~.main__tab-content #tab-panel--mylist {
    display: block;
}
