.main__tab-wrapper {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

/* タブ */
.main__tab-labels {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 6.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #5F5F5F;
}

.main__tab-labels__inner {
    width: 85%;
    display: flex;
}

.main__tab-label {
    display: inline-block;
    text-align: left;
    padding-right: 8rem;
    font-size: 2.4em;
    color: #5F5F5F;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.2s opacity;
}

.main__tab-label:hover {
    opacity: 0.5;
}

.main__tab-content {
    background: #fff;
}

.tab-content__panel {
    display: none;
    width: 100%;
    padding: 5rem 0;
    text-align: center;
}

#tab-search:checked~.main__tab-labels .tab-label--search {
    color: #FF0000;
}

/* tab-searchのタブが選択された場合のコンテンツの表示 */
#tab-search:checked~.main__tab-content #tab-panel--search {
    display: block;
}

#tab-recommend:checked~.main__tab-labels .tab-label--recommend {
    color: #FF0000;
}

#tab-recommend:checked~.main__tab-content #tab-panel--recommend {
    display: block;
}

#tab-mylist:checked~.main__tab-labels .tab-label--mylist {
    color: #FF0000;
}

#tab-mylist:checked~.main__tab-content #tab-panel--mylist {
    display: block;
}

/* レスポンシブ */
@media (max-width: 768px) {
    
}

@media (max-width: 375px) {
    .main__tab-label {
        padding-right: 1rem;
        font-size: 2em;
    }
}