.main__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 4rem 0;
}

.main__profile--img {
    width: 20%;
}

.main__profile--name {
    width: 40%;
    text-align: left;
    font-size: 3.6em;
}

.main__profile--edit {
    width: 30%;
}

.main__profile--edit a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.main__tab-wrapper {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

/* タブ */
.main__tab-labels {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 65px;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #5F5F5F;
}

.main__tab-labels__inner {
    width: 85%;
    display: flex;
}

.main__tab-label {
    display: inline-block;
    text-align: left;
    padding-right: 8rem;
    font-size: 2.4em;
    color: #5F5F5F;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.2s opacity;
}

.main__tab-label:hover {
    opacity: 0.5;
}

.main__tab-content {
    background: #fff;
}

.tab-content__panel {
    display: none;
    width: 100%;
    padding: 5rem 0;
    text-align: center;
}

#tab-selling:checked~.main__tab-labels .tab-label--selling {
    color: #FF0000;
}

#tab-selling:checked~.main__tab-content #tab-panel--selling {
    display: block;
}

#tab-purchased:checked~.main__tab-labels .tab-label--purchased {
    color: #FF0000;
}

#tab-purchased:checked~.main__tab-content #tab-panel--purchased {
    display: block;
}