.main__inner {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
}

.main__inner--left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.item-summary--img img{
    display: block;
    margin: 0;
    width: 120px;
    height: auto;
    object-fit: cover;
    background-color: #d9d9d9;
}

.item-summary--caption {
    width: 60%;
    text-align: left;
}

.item-summary--caption h2{
    font-size: 20px;
}

.item-summary--caption h5 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: lighter;
}


/* 支払い方法・配送先選択 */
.item-summary--option-unit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.item-summary--option-unit h3 {
    font-size: 18px;
}

.item-summary--option-unit a {
    font-size: 14px;
    color: #0073CC;
    text-decoration: none;
    transition: ease 0.2s opacity;
}

.item-summary--option-unit a:hover {
    opacity: 0.8;
}

/* 右側 */
.main__inner-right {
    display: flex;
    width: 40%;
}

.item-purchase--form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-purchase__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5f5f5f;
    padding: 20px;
    margin-bottom: 30px;
}

.item-purchase__payment-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
}

.item-purchase__payment-unit input[readonly]{
    width: 50%;
    margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    cursor: default;
    font-size: 14px;
    color: #000;
}