.main__inner {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    margin: 0 auto;
    padding: 5rem 0;
}

.main__inner--left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.item-summary--img img{
    display: block;
    margin: 0;
    width: 12rem;
    height: auto;
    object-fit: cover;
    background-color: #d9d9d9;
}

.item-summary--caption {
    width: 60%;
    text-align: left;
}

.item-summary--caption h2{
    font-size: 3em;
}

.item-summary--caption h5 {
    margin: 1rem 0;
    font-size: 2.4em;
    font-weight: lighter;
}


/* 支払い方法・配送先選択 */
.item-summary--option {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5rem;
}

.item-summary--option--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.item-summary--option--header h3 {
    font-size: 2.4em;
}

.item-summary--option--header a {
    font-size: 2em;
    color: #0073CC;
    text-decoration: none;
    transition: ease 0.2s opacity;
}

.item-summary--option--header a:hover {
    opacity: 0.8;
}

.item-summary--option--detail {
    padding: 2rem 1.5rem;
    border: 1px solid #5f5f5f;
    text-align: left;
}

.item-summary--option--detail p{
    font-size: 2em;
    line-height: 1.5em;
}

.item-summary--option--detail label{
    font-size: 2em;
    line-height: 1.5em;
}

/* 右側 */
.main__inner-right {
    width: 40%;
}

.item-purchase__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5f5f5f;
    padding: 2rem;
    margin-bottom: 3rem;
}

.item-purchase__payment-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
}

.item-purchase__payment-unit p {
    font-size: 2em;
}

.item-purchase--button {
    width: 100%;
}


#payment-form{
    display: block;
    width: 100%;
    max-width: 60rem;
    height: auto;
    margin: 0 auto;
}

#payment-element {
    display: block;
    width: 100%;
    height: 100%;
}